<div class="container text-center">
<h1>My tasks</h1>

<div class="card text-center">
<ol class="list-group">
  <% @task.each do |task| %>
    <li class="list-group-item"><%= link_to task.title, task_path(task)%></li>
    <button><%= link_to "Delete", task_path(task),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></button>
  <% end %>
  </div>
</ol>

<div class="card text-center">
<button class="text-center"><%= link_to "Add a new task", tasks_new_path %></button>
</div>
</div>
